.HeroSection__wrapper {
    width: 1905px;
    height: 500px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.HeroSection--content_wrapper {
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 50%;
}

.image__wrapper {
    width: 1905px;
}

.HeroSection--image {
    width: 1905px;
    object-fit: contain;
}

.best__student__wrapper {
    position: absolute;
    background: green;
    z-index: 10;
    top:20%;
    left: 100px;
    height: 300px;
    width: 700px;
}

.right-arrow {
    position: absolute;
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
    top: 35%;
    right: 0;
    cursor: pointer;
    transition: all 0.14s ease;
}

.left-arrow {
    position: absolute;
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
    top: 35%;
    left: 0;
    cursor: pointer;
    transition: font-weight 0.14s ease;
}

.left-arrow:hover,
.right-arrow:hover {
    font-weight: 900;
    color: rgb(145, 121, 121);   
}


@media  screen and (max-width: 550px) {

    .HeroSection {
        display: inline-block;

        font-size: 12px;
        line-height: 14px;
        width: 100%;
    }

    .background--heroSection {
        position: absolute;
        z-index: -1;
        width: inherit;
        height: 200px;
        padding: 0;
        margin: auto;

    }

    .HeroSection--wrapper {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        height: 186px;
        margin: auto;
        overflow-y: hidden;
    }

    .best__student {
        width: 100px;
    }

    .HeroSection--content_wrapper {
        width: 50%;
        height: 80%;

    }

    .HeroSection_wrapper-title {
        font-size: 8px;
        line-height: 13px;
    }

    .Graduation__video {
        font-size: 8px;
        padding: 2px 5px;
        border-radius: 2px;
    }

    .HeroSection_content {
        font-size: 8px;
        line-height: 8px;
    }

    .left-arrow,
    .right-arrow {
        font-size: 15px;
    }

    .right-arrow:hover,
    .left-arrow:hover {
        font-size: 14px;
    }
}