.department__wrapper {
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

.department__hidden-background {
    width: 100%;
    height: 180px;
    background-color: #271e3d;
    margin-bottom: 0;
}

.department-image-content__wrapper {
    position: relative;
    margin-bottom: 0;
}

.department__name {
    text-align: center;
    position: absolute;
    z-index: 10;
    color: #fff;
    width: 200px;
    background-color: #271e3d;
    right: 150px;
    top: 350px;
    padding: 20px 25px;

}

.department__image {
    width: 97.5%;
    height: 400px;
    position: absolute;
    left: 20px;
    z-index: 10;
    top: 0;

    animation: fade-in 1s ease;
}

.department__about-section {
    background-color: #F1F1F1;
    height: 650px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: come-in 1s ease;
}

.department__about-content {
    margin-top: 100px;

}

.department__text {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 20px;
    line-height: 30px;
}

.department__dean {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
    gap: 20px;
    background-color: #F1F1F1;
    padding: 10px;
}

.deparment__dean-image {
    border-radius: 5px;
}

@keyframes come-in {
    from {
        width: 50%;
    }

    to {
        width: 100%;
    }
    
}

@keyframes fade-in {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 400px;
        opacity: 1; 
    }
}


@media screen and (max-width: 576px) {
    .department__image {
        /* height: 2000px; */
        left: 3px;
        top: 4px;
    }

    .department__wrapper {
        font-size: 12px;
        padding: 10px;
    }

    .department__about-content {
        margin-top: 0px;
    }

    .department__name { 
        padding: 10px 5px;
        width: 100px;

        right: 15px;
        top: 150px;
    }

    .department__dean {
        flex-direction: column;
    }

    .deparment__dean-image {
        width: 100%;
    }

    .department__text {
        padding: 5px;
    }
}

@media screen and (max-width: 769px) {
    .department__dean {
        display: flex;
        flex-direction: column;
    }
    .deparment__dean-image {
        height: 300px;
    }

    .department__image {
        height: 300px;
        left: 8px;
    }

    .department__name {
        top: 250px;
        right: 50px;
    }

    .department__about-section {
        padding: 10px;
    }
}



@media screen and (max-width: 992px) {
    .department__dean {
        display: flex;
        flex-direction: column;
    }

    .department__image {
        height: 300px;
        left: 8px;
    }

    .department__name {
        right: 30px;
        top: 260px;
    }
}


@media screen and (max-width: 1200px) {
    .department__dean {
        display: flex;
        flex-direction: column;
    }

    .department__text {
        padding: 1px;
    }
}