.announcement--action_block {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
    .announcement--action_block {
        font-size: 11px;

        flex-direction: column;
        border: 1px solid red;
        justify-content: center;
        align-items: center;
    }
}