.home_block {
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.announcement--action_block {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

@media (max-width: 768px) and (min-width: 480px), screen and (max-width: 1420px) {
    .announcement--action_block {
        font-size: 11px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}