@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 11px 1px rgba(158,153,158,1);
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.navbar--img {
    width: 50px;
}

.navbar--img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.navbar--links {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px 0px 10px 30px;
    border-radius: 5px;
}

.navbar--links:hover {
    opacity: 0.8;
}

.navbar-li {
    margin-right: 30px;
    list-style-type: none;
    color: #2c2c2b;
}

.navbar-li:hover {
    color: #8b8a8a;
    cursor: pointer;
}

.navbar--mobile {
    font-size: 30px;
}

.navbar--mobile_container {
    display: none;
}

.navbarmobile--links {
    display: none;

    background-color:  #f1f1f1;
}

.navbar--mobile {
    display: none;
}

.link {
    text-decoration: none;
}

.active {
    text-decoration: none;
}


.pending {
    font-weight: normal;
}

@media screen and (max-width: 550px) {

    .navbar {
        width: 400px;
    }

    .navbar--links {
        display: none;
    }
    .navbar--mobile_container,
    .navbar--mobile {
        display: block;
    }
    
    .navbarmobile--links {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 30px;
        top: 50px;
        right: 40px;
        border-radius: 10px;
        animation: slideUp 0.5s ease-in-out;
    }

    .navbar-li {
        padding-bottom: 5px;
    }

    .navbar--img {
        width: 30px;
    }
}