.RepLogin--component {
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
    margin-top: 100px; 
    text-align: center;
    height: 65vh;
}


.RepLogin__submit-btn {
    padding: 15px 116px;
    color: #fff;
    background-color: #271e3d;;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.RepLogin--select_fields {
    padding: 10px 116px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(170, 168, 168);
    color: #fff;
    margin-top: 10px;

}

.RepLogin--formId {
    padding: 10px 100px 10px 2px;
    border: none;
    outline: none;
    border: 1px solid #271e3d;
    border-radius: 5px;
}


.input--title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.RepLogin--header__underline {
    height: 1px;
    width: 200px;
    background-color: #271e3d;
    margin: auto;
    margin-bottom: 50px;
}