.carousel{
  position: relative;
  border-radius: 10px;
  max-width: 100em;
  margin: auto;
  overflow: hidden;
}

.carousel>.image-container{
  height: 90%;
  max-height: 500px;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.left {
  left: 0;
}
.right {
  right: 0;
}


@media (max-width: 768px) and (min-width: 480px), screen and (max-width: 1420px) {
  .carousel{
    position: relative;
    border-radius: 10px;
    max-width: 100em;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel>.image-container{
    height: 90%;
    max-height: 500px;
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    max-height: 500px;
  }
}