.department__news-section {
    margin-top: 20px;
    padding: 10px;
    background-color:  #F1F1F1;
    display: flex;
    flex-direction: row;
    gap: 20px;

    cursor: pointer;
    
    /* animation: slide 1s ease; */
}

.department__news-image {
    border-radius: 5px;
    width: 300px;
    animation: slide 1s ease;

}

.department__news__wrapper {
    display: flex;
    flex-direction: column;


}



@keyframes slide {
    from {
        width: 0px;
    }

    to {
        width: 300px;
    }
}


@media screen and (max-width: 576px) {
    .department__news-section {
        display: flex;
        flex-direction: column;
    }

    .department__news-image {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 769px) {
    .department__news-section {
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 992px) {
    .department__news-section {
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    .department__news-section {
        display: flex;
        flex-wrap: wrap;
    }

}