* {
    box-sizing: border-box;
}

body {
    max-width: 150rem;
    width: clamp(320px, 100%, 150rem);
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}

/* .app--content {
    height: 120vh;
} */

.footer--div {
    height: 3px;
    background-color: #005d8f;
}
