* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}

/* .app--content {
    height: 120vh;
} */

.footer--div {
    height: 3px;
    background-color: #005d8f;
    width: 30px;
}
