.announcement--container {


    width: 40%;
    margin: 2px 2px;
    text-align: center;
}

.announcement--header {
    color: #271e3d;
}

.announcement--btn {
    background-color: #271e3d;
    color: #fff;
    padding: 2px;
    margin-bottom: 2px;
    border-radius: 5px;

    cursor: pointer;

}

.announcement--btn_title {
    font-weight: 900;
}

@media screen and (max-width: 550px) {
    .announcement--header {
        font-size: 14px;
    }
    
    .announcement--container {
        width: 100%;
    }

    .announcement--btn {
        width: 100%;
        font-size: 10px;
        padding: 5px 20px;
    }
}